:root {
    --title-1: 28px;
    --title-2: 18px;
    --body: 16px;
    --background-color: rgb(232, 232, 232);
    --dark-background-color: rgb(193, 193, 193);
}

html, body, * {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    width: 100%;
    max-width: 1500px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 35px;
    background-color: var(--background-color);
    font-size: var(--title-2);
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--dark-background-color);
    height: 100px;
    padding-inline: 25px;

    .wrapper {
        display: flex;
        align-items: center;
        gap: 25px;
        
        nav {
            display: flex;
            align-items: center;
            gap: 25px;

            a {
                text-decoration: none;
                color: black;
                padding: 10px 20px;
                background-color: var(--background-color);
                font-size: var(--body);
            }
        }

        button {
            all: unset;
            cursor: pointer;
            margin-left: auto;
        }
    }
}

.banner {
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 400px;
    padding: 50px 25px;
    
    .wrapper {
        display: flex;
        align-items: center;
        
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 300px;
            width: 500px;
            background-color: var(--background-color);

            h1 {
                font-size: var(--title-1);
            }

            p {
                font-size: var(--body);
            }
        }
    }
}

.content {
    display: flex;
    justify-content: center;
    padding: 25px;
    padding-bottom: 75px;
    background-color: var(--background-color);

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;

        h2 {
            width: 100%;
            margin-top: 50px;
        }

        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--dark-background-color);
            width: calc((100% - (25px * 2)) / 3);
            aspect-ratio: 1/1;
            padding: 25px;

            p {
                text-align: center;
                font-size: var(--body);
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--dark-background-color);
    height: 300px;
    padding: 75px 25px;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: start;
        gap: 50px;

        ul {
            list-style-position: inside;

            li {
                font-size: var(--body);
            }
        }

        h3 {
            margin-top: auto;
            font-size: var(--title-2);
        }

        p {
            text-align: right;
            font-size: var(--body);
        }
    }
}